.imgStyle {

    border-radius: 40px;
    border: 1px solid purple;
    transition: 1s;
}

.imgStyle:hover {

    transform: rotate(20deg);

}

.navbarStyle {

    background-color: transparent;
    border-bottom: 2px solid white;

}

.spanStyle {

    position: relative;
    right: 0.5em;
    color: red;
    text-shadow: 2px 2px 2px purple;
    font-weight: 900;
    visibility: hidden;
    opacity: 0;
}

