/* You can add global styles to this file, and also import other style files */
body {

    background-image: url('/wallpaper/earth.jpg') !important;
    background-position-y: 30%;
    background-position-x: 45%;
}