<app-header></app-header>

<section style="position: relative;">
    <img class="imgBody" src="/wallpaper/earth.jpg" alt="">

    <img class="star1" id="starButton1" (click)="star1()" src="/gif/starYellow.gif" alt="">
    <img class="angularLogo" (click)="star11()" src="/logos/angular.png" id="star1" alt="">



    <img class="star2" id="starButton2" (click)="star2()" src="/gif/starYellow.gif" alt="">
    <img class="laravelLogo" (click)="star22()" src="/logos/laravel.png" id="star2" alt="">

    <img class="star3" id="starButton3" (click)="star3()" src="/gif/starYellow.gif" alt="">
    <img class="flaskLogo" (click)="star33()" src="/logos/flask.png" id="star3" alt="">


    <img class="star4" id="starButton4" (click)="star4()" src="/gif/starYellow.gif" alt="">
    <img class="mysqlLogo" (click)="star44()" src="/logos/mysql.png" id="star4" alt="">

    <img class="star5" id="starButton5" (click)="star5()" src="/gif/starYellow.gif" alt="">
    <img class="mongoLogo" (click)="star55()" src="/logos/mongo.png" id="star5" alt="">

</section>

<app-footer></app-footer>


